<div>
  <mat-card>
      <mat-card-header>
        <div layout="row" style="margin: auto">
          <div mat-card-avatar class="example-header-image center" 
          [ngStyle]="{'background-image': getUrl()}" style="width: 200px; height: 200px"></div>
          <p class="userText"><b>Usuario: </b>{{currentUser && currentUser.name}}</p>
          <p class="userText"><b>Email: </b>{{currentUser && currentUser.email}}</p>
          <p class="userText"><b>Média: </b>{{getRate()}}</p>
        </div>
      </mat-card-header>
      <mat-card-content layout="row">
        <div style="width: 50%; margin: auto">
          <p><b>Avaliações:</b></p>
          <mat-card *ngFor="let eval of (currentUser && currentUser.evaluation)">
              <mat-card-header>
                  <div mat-card-avatar class="example-header-image"
                  [ngStyle]="{'background-image': getEvalUrl(eval.author)}"></div>
                  <mat-card-title style="margin-top: 10px"><a style="text-decoration: none" routerLink="" (click)="goToUserPage(eval.author.authorID)">{{eval.author.name}}</a> avaliou:</mat-card-title>
                  <mat-card-subtitle>Nota:</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content style="margin-top: 15px">
                  <p class="mat-card-content" style="white-space: pre-line;  word-wrap: break-word;">
                    {{eval.comment}}
                  </p>
                </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
  </mat-card>
</div>