<div>
  <div class="center" *ngIf="!helps">
    <h3>Nenhuma dúvida no momento. Faça a primeira! No menu lateral clique em "Pedir ajuda".</h3>
  </div>
  <app-help-details *ngFor="let help of helps" 
  [receivedHelp]="help"
  [isTimeline]="true">
  </app-help-details>
  <div *ngIf="helps" layout="row" class="center" style="margin-bottom: 20px;">
    <button mat-button (click)="previousPage()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Página anterior
    </button>
    <mat-divider></mat-divider>
    <button mat-button (click)="nextPage()">
      Proxima página
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
