.centered {
    width: 50%;
    margin-right: auto;
    margin-left: auto
}

.example-header-image {
    background-image: url('https://vignette.wikia.nocookie.net/ednaldo-pereira/images/5/53/Ednaldo_Pereira.jpg/revision/latest?cb=20160615234814&path-prefix=pt-br');
    background-size: cover;
  }