<head>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,600" rel="stylesheet">
</head>
<div layout="column" style="margin-bottom: 15px;">
  <div style="margin-top: 25px; right: 0;">
    <div class="center">
      <mat-card [ngClass]="isTimeline ? 'fixed-card' : 'example-card'">
        <div *ngIf="help.closed" style="margin-bottom: 20px;" class="closed-help">RESOLVIDO</div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': getUrl(help)}"></div>
          <div style="margin-left: 50%" layout="end end">
              <div class="dropdown" 
              *ngIf="!isTimeline && user.info._id === help.authorID">
                  <span>
                    <button style="margin-right: -75%" mat-button class="mat-icon-button" (click)="null">
                      <mat-icon title="Opções">more_vert</mat-icon>
                    </button>
                  </span>
                  <div class="dropdown-content">
                    <button *ngIf="user.info._id === help.authorID" 
                            mat-button (click)="deleteHelp(help)">
                            Excluir pedido de ajuda
                    </button>
                    <button *ngIf="user.info._id === help.authorID 
                    && help.answers.length > 0 && !help.closed" 
                            mat-button (click)="closeHelp(help)">
                            Marcar como resolvido
                    </button>
                  </div>
                </div>
          </div>
          <mat-card-title>Resumo: {{help.generalDescription}}</mat-card-title>
          <mat-card-subtitle>Autor: <a style="text-decoration: none" routerLink="" (click)="goToUserPage(help.authorID)">{{help.author && help.author.name}}</a></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Descrição:
          </p>
          <p>
            {{help.detailedDescription}}
          </p>
        </mat-card-content>
        <div *ngIf="!isTimeline">
        <p *ngIf="help.answers && help.answers.length !== 0">
            Respostas:
        </p>
        <div *ngIf="help.closed && help.favoriteAnswer" layout="column" style="margin-bottom: 15px;">
          <div style="margin-top: 10px; right: 0;">
            <div>
              <mat-card>
                <div style="margin-bottom: 20px;" class="closed-help">RESPOSTA FAVORITA</div>
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"
                  [ngStyle]="{'background-image': getUrl(help.favoriteAnswer)}"></div>
                  
                  <mat-card-title style="margin-top: 10px"><a style="text-decoration: none" routerLink="" (click)="goToUserPage(help.favoriteAnswer && help.favoriteAnswer.authorID)">
                    {{help.favoriteAnswer && help.favoriteAnswer.author && help.favoriteAnswer.author.name}}</a> respondeu:</mat-card-title>
                </mat-card-header>
                <mat-card-content style="margin-top: 15px">
                  <div *ngIf="help.favoriteAnswer && help.favoriteAnswer.photoURL" flex>
                    <img style="margin-top: 25px; margin: 0 5 0 5" class="mat-card-image" [src]="help.favoriteAnswer && help.favoriteAnswer.photoURL"/>
                  </div>

                  <p class="mat-card-content" *ngIf="help.favoriteAnswer && !help.favoriteAnswer.photoURL" style="white-space: pre-line;  word-wrap: break-word;">
                    {{help.favoriteAnswer && help.favoriteAnswer.answer}}
                  </p>
                </mat-card-content>
              </mat-card>
          </div>
          </div>
        </div>
        <div *ngFor="let answer of help.answers; let i = index" layout="column" style="margin-bottom: 15px;">
          <div style="margin-top: 10px; right: 0;">
            <div>
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"
                  [ngStyle]="{'background-image': getUrl(answer)}"></div>
                  
                  <mat-card-title style="margin-top: 10px">
                    <a style="text-decoration: none" routerLink="" (click)="goToUserPage(answer.authorID)">
                      {{answer.author && answer.author.name}}</a> respondeu:
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content style="margin-top: 15px">
                  <div *ngIf="answer.photoURL" flex>
                    <img style="margin-top: 25px; margin: 0 5 0 5" class="mat-card-image" [src]="answer.photoURL"/>
                  </div>

                  <p class="mat-card-content" *ngIf="!answer.photoURL" style="white-space: pre-line;  word-wrap: break-word;">
                    {{answer.answer}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button style="margin-left: 90%; margin-top: 15px;" *ngIf="!help.closed && !help.favoriteAnswer && user.info._id === help.authorID"
                    mat-button class="mat-icon-button" (click)="deleteAnswer(help, i)">
                    <mat-icon title="Excluir">delete</mat-icon>
                  </button>
                  <button style="margin-left: 80%; margin-top: 15px;"
                    *ngIf="help.closed && !help.favoriteAnswer && user.info._id === help.authorID && user.info._id !== answer.authorID"
                    mat-button (click)="openDialog(help, i)">
                    Avaliar
                  </button>
                </mat-card-actions>
              </mat-card>
          </div>
          </div>
        </div>
      </div>
      <form *ngIf="(!help.closed && !isTimeline && !commentWithPhoto) || (!help.closed && !isTimeline && !commentWithPhoto && user.info._id === help.authorID)" class="answer-class">
        <mat-form-field class="answer-class-width">
          <textarea name="answer" matInput placeholder="Deixe sua resposta" [(ngModel)]="currentAnswer"></textarea>
        </mat-form-field>
      </form>
      <app-upload *ngIf="!help.closed && !isTimeline && commentWithPhoto" (endURL)="receivePhotoURL($event)">Teste</app-upload>
        <mat-card-actions>
          <button *ngIf="isTimeline" mat-button (click)="goToHelp(help)">Ir para ajuda</button>
          <mat-slide-toggle *ngIf="(!help.closed && !isTimeline) || (!help.closed && !isTimeline && user.info._id === help.authorID)" style="margin-left: 5%;"
            color="primary"
            [(ngModel)]="commentWithPhoto"
            [disabled]="disabled">
            Responder com imagem
          </mat-slide-toggle>
          <button *ngIf="(!help.closed && !isTimeline) || (!help.closed && !isTimeline && user.info._id === help.authorID)" mat-button
          [disabled]="(!commentWithPhoto && !currentAnswer) || (commentWithPhoto && !answerPhotoURL)" (click)="addAnswer(help)"
          style="background-color: rgb(27, 104, 155); color: white; margin-left: 65%;">
          <mat-icon style="padding-right: 3px">send</mat-icon>Responder</button>
        </mat-card-actions>
      </mat-card>
  </div>
  </div>
</div>
