<head>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,600" rel="stylesheet">
</head>
<div layout="column" style="margin-bottom: 15px;">
  <div style="margin-top: 25px; right: 0;">
    <div class="center">
      <mat-card [ngClass]="isTimeline ? 'fixed-card' : 'example-card'">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Resumo: {{help.generalDescription}}</mat-card-title>
          <mat-card-subtitle>Autor: {{help.author}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Descrição:
          </p>
          <p>
            {{help.detailedDescription}}
          </p>
        </mat-card-content>
        <div *ngIf="!isTimeline">
        <p>
            Respostas:
        </p>
        <h4 *ngIf="help.awnsers.length === 0" >Sem respostas até o momento =(</h4>
        <div *ngFor="let awnser of help.awnsers" layout="column" style="margin-bottom: 15px;">
          <div style="margin-top: 10px; right: 0;">
            <div>
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image2"></div>
                  <mat-card-title style="margin-top: 10px">{{awnser.author}} respondeu:</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p style="margin-top: 10px">
                    {{awnser.awnser}}
                  </p>
                </mat-card-content>
              </mat-card>
          </div>
          </div>
        </div>
      </div>
        <mat-card-actions>
          <button *ngIf="isTimeline" mat-button (click)="goToHelp(help.id)">Ir para ajuda</button>
          <button *ngIf="!isTimeline" mat-button>Responder</button>
        </mat-card-actions>
      </mat-card>
  </div>
  </div>
</div>
